Create a ruleset E that contains rules for following:<br>
    1. Age should be in range 0-150
    2. Age should be greater than years married
    3. Status should be married or single or widowed
    4. If age is less than 18: child, less than 65: adult, else elderly

In [49]:
import numpy as np
import pandas as pd
import sklearn as skl
from __future__ import print_function

In [8]:
file = pd.read_csv('people.csv')

In [36]:
file

   Age Age_Group  Height   Status  Years_married
0   21     adult     6.0   single             -1
1    2     child     3.0  married              0
2   18     adult     5.7  married             20
3  221   elderly     5.0  widowed              2
4   34     child    -7.0  married              3

In [48]:

rules = [ lambda x: True if int(x[0])>=0 and int(x[0])<=150 else False,
          lambda x: True if int(x[0])>int(x[4]) else False,
          lambda x: True if x[3]=='single' or x[3]=='married' or x[3]=='single' else False,
          lambda x: True if (int(x[0])<=18 and x[1]=='child') or (int(x[0])<=65 and x[1]=='adult') or 
                            (int(x[0])>65 and x[1]=='elderly') else False]

In [52]:
for i in range(5):
    print('Rule 1: ',rules[0](file.values[i]),' Rule 2: ',rules[1](file.values[i]),' Rule 3: ',rules[2](file.values[i]),' Rule 4: ',rules[3](file.values[i]))

Rule 1:  True  Rule 2:  True  Rule 3:  True  Rule 4:  True
Rule 1:  True  Rule 2:  True  Rule 3:  True  Rule 4:  True
Rule 1:  True  Rule 2:  False  Rule 3:  True  Rule 4:  True
Rule 1:  False  Rule 2:  True  Rule 3:  False  Rule 4:  True
Rule 1:  True  Rule 2:  True  Rule 3:  True  Rule 4:  False